body {
    font-family: dragonfire;
    background-color: black;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F91%2F84%2F15%2F9184157d531265becc7fc2f5a1603009.jpg&f=1&nofb=1&ipt=37b5f45624dabf5b89d1678b2c780c81864f31b9d05d7f5b2101ab01564e42be&ipo=images");
    margin: 0;
    padding: 0;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 25px;
}

.top-navbar {
    margin: auto;
    width: 100%;
    font-size: 33px;
    padding: 0;
}

.play-section {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(241, 136, 5, 1);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #494949;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        /*background-color: #111;*/
    }

.active {
    background-color: #04AA6D;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.back-video {
    border: 5px solid white;
    border-radius: 25px;
}

.modular-div {
    padding: 25px;
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}

@font-face {
    font-family: "dragonfire";
    src: url("breathefire.ttf") format("truetype");
}

@media (min-aspect-ratio: 16/9){
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height:100%;
    }
}